 @CHARSET "UTF-8";
 /*ヘッダー画像用*/
 .header_img {
   	position: relative;
   	/*枠よりも外側はトリムする*/
    overflow: hidden;
   	width: 100%;
   }
 /*隠し<h1>タグ用*/
 .hide {
  	font-size: 8px;
  	/*文字色を白色にする*/
  	color: #FFFFFF;
  	/*上下の余白を狭くする*/
    margin-top: 0;
  	margin-bottom: 0;
  }
 /*タイトル・サブタイトル用*/
 .title_narrow {
    /*上下の余白を狭くする*/
    margin-top: 0;
  	margin-bottom: 0;
  }
  
/* 20210131 追加 */
th {
	border: 2px single black;
	border-collapse:collapse;
	word-wrap: break-word;
	background:#eee;
	position: -webkit-sticky;
	position: sticky;
	top: 0;		
}
 
.font_1 {font-family: "ＭＳ Ｐゴシック","Roboto", arial,sans-serif;	} 
.indent_1 {padding:0px 10px;}
.indent_text {text-align:left}
.indent_form {margin-left:10px;}
.line_height {line-height: 1.5;}

/* マーカー */
mark {
	background-color: skyblue; 
	color: black;
}

/* 背景画像 */
.background {
	background-image: url("../image/TwitterSupportTool_BackGround.PNG");
	/*background-color: rgba(255,255,255,0.9);*/
	background-repeat: repeat;	
	background-blend-mode: overlay;
}

/* テキスト寄せ（中央、右） */
h2.center {text-align: right;}
h3.center {text-align: right;}
h4.center {text-align: right;}
h2.center {text-align: center;}
h3.center {text-align: center;}
h4.center {text-align: center;}
div.center {text-align: center;}
table.center {margin-left:auto; margin-right:auto;}

/* 20210201 Yazaki add */
form{
/*  background-color: #eaeaea;*/
  padding:0px 10px;
}
   
  
  
  